{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}

    {% for category, message in messages %}
  <div class="alert alert-{{ category }}" role="alert">

    <ul class=flashes>
      {{ message }}
      </div>
    {% endfor %}
    </ul>

  {% endif %}
{% endwith %}

{% from "_formhelpers.html" import render_field %}
<div class="container" style="border:1px solid #cecece" >
  <h3>Quick Search For Music</h3>
<form method=post>
    <div class="row">
      <div class="col-md-auto">
        {{ render_field(form.select) }}
      </div>
      <div class="col-md-auto">
        {{ render_field(form.search) }}
      </div>
      <div class="col-md-auto">

      </div>
    </div>
  <input type=submit value=Search>
  <p>

  </p>
</form>
</div>
<p></p>
<div class="container" style="border:1px solid #cecece" >
<h3>Database Summary</h3>
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Recordings
    <span class="badge badge-primary badge-pill">{{ recordcount }}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Artists
    <span class="badge badge-primary badge-pill">{{ artistcount }}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Songs
    <span class="badge badge-primary badge-pill">{{ songcount }}</span>
  </li>
</ul>
  <p>

  </p>
</div>




{% endblock %}