{% extends "base.html" %}

{% block content %}

<doctype html>
<title>New Album -</title>
<h4>New Album for {{ artistname }}</h4>
{% from "_formhelpers.html" import render_field %}
<form method=post>
    <dl>
        <div class="form-group">
            <label for="album_name">Album Name:</label>
            <input type="text" class="form-control" id="album_name" name="album_name" placeholder="Enter Album Name"></div>

        <div class="form-group">
            <label for="album_name">Album Label:</label>
            <input type="text" class="form-control" id="label" name="label" placeholder="Enter Album Label"> </div>

        <div class="form-group">
            <label for="album_name">Album Label Number:</label>
            <input type="text" class="form-control" id="label_number" name="label_number" placeholder="Enter Album Label Number"> </div>

        <div class="container" style="border:1px solid #cecece" >
        <div class="row">
                  <div class="col-md-auto">
                      {{ render_field(form.cover) }}
                  </div>
                  <div class="col-md-auto">
                        {{ render_field(form.word) }}
                  </div>
        </div>
        </div>
    <p>

    </p>
<div class="container" style="border:1px solid #cecece" >
        <div class="row">
                  <div class="col-md-auto">
                      {{ render_field(form.count_cassette) }}
                  </div>
                  <div class="col-md-auto">
                      {{ render_field(form.count_lp) }}
                                        </div>
                  <div class="col-md-auto">
                      {{ render_field(form.count_45) }}
                                        </div>
                  <div class="col-md-auto">
                      {{ render_field(form.count_78) }}
                                        </div>
                  <div class="col-md-auto">
                      {{ render_field(form.count_cd) }}
                                        </div>
                  <div class="col-md-auto">
                      {{ render_field(form.count_digital) }}
                                        </div>
                  <div class="col-md-auto">
                      {{ render_field(form.count_copy_cassette) }}
                                        </div>
                  <div class="col-md-auto">
                      {{ render_field(form.count_copy_cd) }}
                                        </div>
        </div>
</div>
      {{ render_field(form.songs, cols="80", rows="14") }}
    </dl>


    <p><input type=submit value=Submit>
</form>



{% endblock %}