{% extends "base.html" %}

{% block content %}


     <table class="table table-bordered">
         <thead class="thead-light text-center" >
            <tr>

                <th colspan="5"></th>
                <th colspan="8">Counts</th>
                <th colspan="1"></th>
            </tr>
            <tr>
               <th scope="col">Recording ID</th>
                <th scope="col">Artist Name</th>
                <th scope="col">Recording Name</th>
               <th scope="col">Label</th>
                <th scope="col">Label Number</th>
                <th scope="col">LP</th>
               <th scope="col">Cassette</th>
                <th scope="col">45</th>
                <th scope="col">78</th>
               <th scope="col">CD</th>
                <th scope="col">Digital</th>
                <th scope="col">Copy Cassette</th>
                <th scope="col">Copy CD</th>
                <th scope="col">Details</th>
            </tr>
         </thead>

            {% for name in recordings %}
               <tr>
                   <th scope="row">{{ name.Recording.id }}</th>
                   <td>{{ name.Artist.artist_name}}</td>
                   <td>{{ name.Recording.record_name }}</td>

                   <td>{{ name.Recording.label }}</td>
                   <td>{{ name.Recording.label_number }}</td>
                   <td>{% if name.Recording.count_lp != 0 %} {{ name.Recording.count_lp }} {% endif %} </td>
                   <td>{% if name.Recording.count_cassette != 0 %} {{ name.Recording.count_cassette }} {% endif %}</td>
                   <td>{% if name.Recording.count_45 != 0 %} {{ name.Recording.count_45 }} {% endif %}</td>
                   <td>{% if name.Recording.count_78 != 0 %} {{ name.Recording.count_78 }} {% endif %}</td>
                   <td>{% if name.Recording.count_cd != 0 %} {{ name.Recording.count_cd }} {% endif %}</td>
                   <td>{% if name.Recording.count_digital != 0 %} {{ name.Recording.count_digital }}{% endif %} </td>
                   <td>{% if name.Recording.count_copy_cassette != 0 %} {{ name.Recording.count_copy_cassette }} {% endif %}</td>
                   <td>{% if name.Recording.count_cd != 0 %} {{ name.Recording.count_cd }} {% endif %}</td>
                    <td><a href="{{ url_for('viewrecordingdetails',recordid=name.Recording.id) }} "><button type="button" class="btn btn-primary btn-sm">View Details...</button></a></td>

               </tr>
            {% endfor %}
         </tbody>
      </table>
{% endblock %}
