{% extends "base.html" %}

{% block content %}

     <table class="table table-bordered">
         <thead class="thead-light text-center" >
            <tr>
               <th scope="col">Song ID</th>
                <th scope="col">Song Name</th>
            </tr>
         </thead>

            {% for name in songs %}
               <tr>
                   <td>{{ name.id }}</td>
                  <td>{{ name.song_name }}</td>

               </tr>
            {% endfor %}
         </tbody>
      </table>
{% endblock %}
