{% extends "base.html" %}

{% block content %}

     <table class="table table-bordered">
         <thead class="thead-light text-center" >
            <tr>
               <th scope="col">Artist ID</th>
                <th scope="col">Artist Name</th>
                <th scope="col">Add Recording</th>
            </tr>
         </thead>

            {% for name in artists %}
               <tr>
                   <td>{{ name.id }}</td>
                  <td>{{ name.artist_name }}</td>
                   <td><a href="{{ url_for('newrecording',artistid=name.id) }} "><button type="button" class="btn btn-primary btn-sm">Add Recording...</button></a></td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
{% endblock %}
